layout {
    cwd "./"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="chat_under_files" {
        pane split_direction="horizontal" {
            children
            pane size="20%" {
                command "./aider"
                args "--chat-mode" "ask"
                cwd "./" 
                start_suspended true
                focus false
                close_on_exit false
            }
        }
    }
    tab_template name="hstack_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Horizontal" stacked=true {
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    hstack_tab name="Explore" cwd="./" focus=false {
        pane split_direction="horizontal" stacked=false {
            pane split_direction="vertical" stacked=false size="85%" {
                pane split_direction="horizontal" stacked=true {
                    pane name="Files" {
                        // Currently do not support sending CWD to plugins.
                        command "bash"
                        args "-c" "exec \"~/.config/zide/bin/zide-pick\" \"./\""
                        cwd "./" 
                        start_suspended true
                        focus false
                        size "15%"
                        close_on_exit false
                    }
                    pane name="Helix" {
                        command "bash" 
                        args "-c" "hx --config ~/.config/zide/config/helix/config.toml -v --log ./.zide/helix-ai.log --working-dir ./" 
                        cwd "./"
                        start_suspended false
                        close_on_exit false 
                        focus true 
                        expanded true
                    }
                    pane name="Aider Watch" {
                        command "./aider"
                        args "--watch-files" "\\" "./"
                        cwd "./"
                        start_suspended true 
                        close_on_exit false 
                        focus false 
                        size "10%"
                    }
                    pane name="AI Chat" {
                        command "bash"
                        args "-c" "mkdir -p ~/.config/zide/share/opencode/${ZELLIJ_SESSION_NAME}; SHARE=~/.config/zide/share/opencode/${ZELLIJ_SESSION_NAME} OPENCODE_CONFIG=~/.config/zide/config/opencode/explore.jsonc EDITOR='hx --config ~/.config/zide/config/helix/config.toml -v --log ./.zide/helix-opencode.log --working-dir ./' ./opencode"
                        cwd "./" 
                        start_suspended true
                        close_on_exit false
                        focus false
                        size "20%"
                    }
                }
                pane split_direction="horizontal" stacked=true {
                    pane name="Git" {
                        command "bash"
                        args "-c" "EDITOR='hx --config ~/.config/zide/config/helix/config.toml -v --log ./.zide/helix-gitu.log --working-dir ./' gitu --keys ?"
                        cwd "./" 
                        start_suspended true
                        close_on_exit false
                        focus false
                        size "10%"
                    }
                    pane name="Helix" {
                        command "bash" 
                        args "-c" "hx --config ~/.config/zide/config/helix/config.toml -v --log ./.zide/helix-ai.log --working-dir ./" 
                        cwd "./"
                        start_suspended false
                        close_on_exit false 
                        focus true 
                        expanded true
                    }
                    pane name="Aider Chat" {
                        command "./aider"
                        args "--chat-mode" "ask"
                        cwd "./" 
                        start_suspended true 
                        close_on_exit false
                        focus false
                    }
                    pane name="AI Chat" {
                        command "bash"
                        args "-c" "mkdir -p ~/.config/zide/share/goose/${ZELLIJ_SESSION_NAME}; SHARE=~/.config/zide/share/goose/${ZELLIJ_SESSION_NAME} ./goose --config=~/.config/zide/config/goose/explore.yaml session --name ${ZELLIJ_SESSION_NAME}_explore"
                        cwd "./" 
                        start_suspended true
                        close_on_exit false
                        focus false
                        size "20%"
                    }
                }
            }
            pane split_direction="vertical" stacked=false size="15%" {
                pane name="Shell #1" 
                pane name="Shell #2"
            }
        }
    }
    hstack_tab name="Edit" cwd="./" focus=true {
        pane split_direction="horizontal" stacked=true {
            pane name="Files" {
                // Currently do not support sending CWD to plugins.
                command "bash"
                args "-c" "exec \"~/.config/zide/bin/zide-pick\" \"./\""
                cwd "./" 
                start_suspended true
                focus false
                size "15%"
                close_on_exit false
            }
            pane name="Helix" {
                command "bash" 
                args "-c" "hx --config ~/.config/zide/config/helix/config.toml -v --log ./.zide/helix-edit.log --working-dir ./" 
                cwd "./"
                start_suspended false
                close_on_exit false 
                focus true 
                expanded true
            }
            pane command="scooter" args="./" cwd="./" name="Search & Replace" close_on_exit=false focus=false
        }
    }
    hstack_tab name="Git" cwd="./" focus=false {
        pane split_direction="horizontal" stacked=true {
            pane name="Files" {
                // Currently do not support sending CWD to plugins
                command "bash"
                args "-c" "exec \"~/.config/zide/bin/zide-pick\" \"./\""
                cwd "./" 
                start_suspended true
                close_on_exit false
                focus false
                size "15%"
            }
            pane name="GitUI" {
                command "gitui" 
                args "--watcher" "--directory" "./" 
                cwd "./" 
                start_suspended true
                close_on_exit false 
                focus true
                expanded true
            }
        }
    }
    tab name="Test/Bench: Unit" cwd="./" {
        chat_under_files split_direction="vertical" {
            pane edit="./src/lib.rs"
            pane edit="./src/input_handler.rs"
        }
    }
    tab name="Test/Bench: Integrated" split_direction="vertical" cwd="./src" {
        pane edit="./screen.rs" name="SCREEN"
        pane edit="./tab/mod.rs" name="TAB"
        pane edit="./panes/terminal_pane.rs" name="TERMINAL PANE"
    }
    tab name="Release/Deploy" split_direction="vertical" cwd="./src" {
        pane edit="./pty.rs" name="PTY"
        pane edit="./os_input_output.rs" name="OS_INPUT_OUTPUT"
    }
    tab name="Web" split_direction="horizontal" cwd="./src" {
        pane split_direction="vertical" {
            pane edit="./terminal_pane.rs" name="TERMINAL PANE"
            pane edit="./grid.rs" name="GRID (ANSI PARSER)"
        }
        pane split_direction="vertical" {
            pane edit="./terminal_character.rs" name="TERMINAL CHARACTER"
            pane edit="./sixel.rs" name="SIXEL"
        }
    }
    tab name="Embedded" split_direction="horizontal" cwd="./src" {
        pane split_direction="vertical" {
            pane edit="./terminal_pane.rs" name="TERMINAL PANE"
            pane edit="./grid.rs" name="GRID (ANSI PARSER)"
        }
        pane split_direction="vertical" {
            pane edit="./terminal_character.rs" name="TERMINAL CHARACTER"
            pane edit="./sixel.rs" name="SIXEL"
        }
    }
    tab name="Debug" split_direction="horizontal" cwd="./src" {
        pane split_direction="vertical" {
            pane edit="./tiled_panes/mod.rs" name="TILED PANES"
            pane edit="./tiled_panes/tiled_pane_grid.rs" name="TILED PANES - GRID"
            pane edit="./tiled_panes/pane_resizer.rs" name="TILED PANES - GRID - RESIZER"
        }
        pane split_direction="vertical" {
            pane edit="./floating_panes/mod.rs" name="FLOATING_PANES"
            pane edit="./floating_panes/floating_pane_grid.rs" name="FLOATING_PANES - GRID"
        }
    }
}

