.DS_Store
# Ignore any custom layouts
layouts/*.kdl
# Track the built-in layouts in git
!layouts/compact.kdl
!layouts/compact_lazygit.kdl
!layouts/default.kdl
!layouts/default_lazygit.kdl
!layouts/stacked.kdl
!layouts/stacked_lazygit.kdl
!layouts/tall.kdl
!layouts/tall_lazygit.kdl
!layouts/wide.kdl
!layouts/wide_lazygit.kdl
!layouts/zide-rust.kdl
!layouts/zide-launch.kdl

log/opencode/log
log/opencode/storage 
log/serena
*.log
*.bak
**/*.log
**/**/*.log
scratch

.serena/

tmp/
.aider*
